name: Windows

on:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: windows-latest
    
    strategy:
      matrix:
        go-version: ['1.23','1.24','1.25']

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Go ${{matrix.go-version}}
        uses: actions/setup-go@v6
        with:
          cache: false
          go-version: ${{matrix.go-version}}
      
      - name: Go version
        run: go version
      
      - name: Go test
        run: go test ./...
